
- is_mobile = params[:mobile]

-content_for :inner_title do
  %h1
    = "Choose a name"

- if is_mobile
  = form.hidden_field :group_type, :value=>"mobile"
  .group
    = form.text_field :name, :class => "text_field_mobile", :value => params[:name]



  -if AppConfig.enable_i18n
    .group
      = form.label :language, t(:language, :scope => "activerecord.attributes.group"), :class => "label"
      = form.select :language, AVAILABLE_LANGUAGES.collect {|lang| [ language_desc(lang), lang ] }+[[t(".any_language"), 'none']], :selected => @group.language || 'none', :class => "select"
  -else
    = form.hidden_field :language, :value => (AppConfig.default_language || 'en')

