- grp = current_group
- stop1 = grp.primary_dark
- stop2 = grp.primary
- stop3 = grp.secondary
- stop4 = grp.tertiary
- stop5 = grp.text_colour

- alt1 = grp.supplementary_dark
- alt2 = grp.supplementary
- alt3 = grp.supplementary_lite


\.right-arrow{border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #{stop4};height:0px;width:0px;float:right;}



\.expand{margin:4px 0 4px 0;float:right;;line-height:36px;height:36px;width:36px;border-radius:12px 0 0 12px ;
\-webkit-box-shadow:1px 1px 2px #{stop3}, -2px -2px 2px #{stop2};
\-moz-box-shadow:1px 1px 2px #{stop3}, -2px -2px 2px #{stop2};

border-top: 1px solid #{stop3};
/*border-left: 1px solid #{stop3};*/
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};
background:#{stop2};

background: -webkit-linear-gradient(bottom, #{stop3} 0%,#{stop3} 33%,#{stop2} 100%); /* Chrome10+,Safari5.1+ */

}


\.hidden{display:none}

\.inflated{visibility:true}
\.deflated{visibility:hidden;height:0;}

\input[type="checkbox"] {font-size:2em;height:32px;}







\#tabs li{display:inline;}
\#tabs li.mark{width:96px;height:48px;}

\#tabs div.selected{border:2px solid red;

text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};
margin:0;
border-radius: 8px 8px 0 0;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1}, inset 0 0 16px #{stop1};
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};

border-top: 1px solid #{stop2};
border-left: 1px solid #{stop2};
border-bottom: 1px solid #{stop1};
border-right: 1px solid #{stop1};


background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop3}), color-stop(49%,#{stop4}), color-stop(51%,#{stop2}), color-stop(100%,#{stop3})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop3},#{stop2} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 49%, #{stop2} 51%, #{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\#tabs div{border:2px solid red;

text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};
font-size:1em;
margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1}, inset 0 0 16px #{stop1};
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};

border-top: 1px solid #{stop2};
border-left: 1px solid #{stop2};
border-bottom: 1px solid #{stop1};
border-right: 1px solid #{stop1};


background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(49%,#{stop2}), color-stop(51%,#{stop3}), color-stop(100%,#{stop2})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 49%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 49%, #{stop2} 51%, #{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}





\.not_selected{border:2px solid white;}


\.note{font-weight:bold;font-size:0.8em;}


\#body{height:auto;background-color:red;}

\.centered{text-align:center;margin:0 auto;}
\.name{margin-top:40px;}
\.name a{font-size:2em;font-weight:bold;text-decoration:none;margin-left:16px;float:left;}
\.strapline{bottom:0;width:496px;font-size:1em;font-weight:bold;float:left;line-height:2em;height:2em;padding-left:32px;}
\.tips{padding:8px;0}

\.fold-header{height:72px;}

\.subheading{
font-weight:bold;
text-shadow:-1px -1px 0px #{stop2},1px 1px 0px #{stop3};
margin:0 0 4px 0;
}

\.question-bullet{
height:24px;width:24px;line-height:24px;
\-webkit-box-shadow:inset 1px 1px 1px #{stop4}, inset -1px -1px 1px #{stop1};
\-moz-box-shadow:inset 1px 1px 1px #{stop4}, inset -1px -1px 1px #{stop1};
background:#{alt2};
border-radius:12px;
float:left;
font-size:14px;
font-family:"Arial Black",Gadget,sans-serif;
text-align:center;
}

\.question-title a{
-#height:24px;
color:#{stop5};
font-size:22px;
font-weight:bold;
text-shadow:-1px -1px 0px #{stop2},1px 1px 0px #{stop1};
}

\.question-title a:hover{
color:#{stop5};
}


\.frame{
\-webkit-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop1};
\-moz-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop1};
border-radius:8px;
}

\.inset{
border-top:1px solid #{stop1};
border-left:1px solid #{stop1};
border-bottom:1px solid #{stop4};
border-right:1px solid #{stop4};
margin-top:4px;
\-webkit-box-shadow:1px 1px 0 #{stop4}, -1px -1px 0 #{stop1};
\-moz-box-shadow:1px 1px 0 #{stop4}, -1px -1px 0 #{stop1};

border-radius:8px;
padding: 8px;
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}),  color-stop(100%,#{stop3})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop2}', endColorstr='#{stop3}',GradientType=0 ); /* IE6-9 */
}

\.outset{
margin-top:4px;
-#\-webkit-box-shadow:1px 1px 1px #{stop1}, -1px -1px 1px #{stop4};
-#\-moz-box-shadow:1px 1px 1px #{stop1}, -1px -1px 1px #{stop4};
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop3}),  color-stop(100%,#{stop2})); /* Chrome,Safari4+ */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 100%); /* Chrome10+,Safari5.1+ */
border-radius:8px;
padding: 8px;
}

\.quick-create{
\-webkit-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop1};
\-moz-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop1};
border-radius:8px;
}


\.fold-icon{height:64px;width:64px;background-image:url(/images/blank_icxon.png);float:left;margin:8px 0 0 16px;}
\.fold-icon-open{height:64px;width:64px;background-image:url(/images/blank_icxon_o.png);float:left;margin:8px 0 0 16px;}


\#header{cursor:pointer;}




\.map{height:256px;width:256px;background:#{stop4};}
\.map-holder{height:256px;width:256px;border-radius:8px;}
\.map-large{height:464px;width:464px;background:#{stop4};}
\.map-large-holder{height:464px;width:464px;}


\.heading{
font-size:1.5em;
font-weight:bold;
padding:8px 0;
-#text-shadow:-1px -1px 0px #{stop1},1px 1px 0px #{stop2};
}

\.help{
font-size:0.5em;
color: #{stop4}
}

\.tips{
line-height:2em;
font-size:1em;
color: #{stop4}
}

\.colorwell{
\-webkit-box-shadow:0 0 8px black;
outline: none;
transition: all 0.25s ease-in-out;
border: 3px solid silver;
border-radius: 16px;
width: 56px;
height: 56px;
text-align: center;
cursor: pointer;
margin:8px 0 0 16px;
}

\body .colorwell-selected{
\-webkit-box-shadow:0 0 8px white;
border: 3px solid white;
padding: 4px
font-weight: bold;
}


\.container{margin:0;padding:0 16px;}

\#body{padding:0;padding:0 16px 0 0;}
\#body .content{width:100%;margin:0 16px;}

\#title{margin:0 auto}
\#title .content{width:100%;margin:0 auto;text-align:center}


\.text_field{width:442px;height:1.2em;border-radius:16px;border: 4px solid silver;font-size:1.2em;font-family:"Arial Black";font-weight:bold;padding:4px 16px;margin:16px 0 16px 0; background: -webkit-gradient(linear,left left,right right,from(#dcdcdc),to(#ffffff))}

\.text_field_mobile{padding:0 16px;font-family:sans-serif;border-radius:8px;font-size:1.5em;font-weight:bold;width:416px;margin:8px 16px 8px 0; height:56px; overflow:hidden;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5}; 
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5};
background:-webkit-gradient(linear,left top,left bottom,from(#{stop4}),to(#{stop5}));
background: -moz-linear-gradient(top, #{stop4} 0%, #{stop5} 100%); 
}

\.text_field_mobile_edit{padding:4px 8px;font-family:sans-serif;border-radius:4px;font-size:1em;font-weight:bold;width:416px;margin:8px 16px 8px 0; height:1.5em; overflow:hidden;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5}; 
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5};
background:-webkit-gradient(linear,left top,left bottom,from(#{stop4}),to(#{stop5}));
background: -moz-linear-gradient(top, #{stop4} 0%, #{stop5} 100%); 
}


\.text_area_mobile_edit{padding:4px 8px;font-family:"Arial",Gadget,sans-serif;border-radius:4px;font-size:1em;font-weight:bold;width:420px;max-width:420px;margin:8px 16px 8px 0;height:152px; overflow:visible;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5}; 
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};border:1px inset #{stop5};
background:-webkit-gradient(linear,left top,left bottom,from(#{stop4}),to(#{stop5}));
background: -moz-linear-gradient(top, #{stop4} 0%, #{stop5} 100%); 
}

\.text_area_mobile{font-family:"Arial Black",Gadget,sans-serif;border-radius:16px;font-size:1.7em;width:442px;margin:8 16px; height:56px;border:4px inset white; overflow:hidden;}


\.swatch{height:32px;width:128px;border:3px solid white}
\.text_field_short{width:64px;margin:0 16px;border:1px solid white; font-weight:bold;color:white}





\#toolbar{
z-index: 100;
background: #606060
margin:0;
}

\#logo{margin:0;}

\.logo-container-mobile{width:728px;margin:0 auto;}

\#fold{margin:0;}


-#\#fold{background:-webkit-gradient(linear,left top,left bottom,from(#{stop1}),to(#{stop4}));background:-moz-linear-gradient(top,#{stop1},#{stop4});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{stop4}',startColorstr='#{stop1}');}

\#fold.a{cursor:pointer}



\#footer{

background: #{stop1}; /* Old browsers */
margin:0;

}

\#header{
border-top: 1px solid #{stop1};
background: #{stop2}; /* Old browsers */
margin:0;
background:-webkit-gradient(linear,left top,left bottom,from(#{stop2}),to(#{stop3}));
background:-moz-linear-gradient(top,#{stop2},#{stop3});
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{stop3}',startColorstr='#{stop2}');
/*border-radius:0 0 16px 16px ;*/
}



\#null{
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 30%, #{stop1} 55%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\#fold{

background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 30%, #{stop1} 55%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\#body{

border-radius:0 0 16px 16px;

-#border-top: 1px solid #{stop2};
-#border-bottom: 1px solid #111111;
background: #{stop3}; /* Old browsers */
-#background: -moz-linear-gradient(top, #{stop3} 0%, #{stop2} 25%, #{stop1} 70%, #{stop3} 100%); /* FF3.6+ */
-#background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
-#background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 25%,#{stop1} 70%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
-#background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
-#background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
-#background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
-#filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\.fold.settings{min-height:256px; height:auto}


\.footer-mobile{


}


\.reputation{
border-radius: 8px;
color:white;
font-weight:bold;
font-size:1.5em;

border: 2px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:32px;
width:240px;
-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #111111 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}




\button{
font-weight:normal;
font-size:1em;
line-height:1em;
\/* font-family: HelveticaNeue-CondensedBlack,"arial black",gadget,sans-serif; */
-#text-shadow: -1px -1px 1px black;
-#webkit-box-shadow:0 0 8px black;
background: #{stop1}; /* Old browsers */
}


\button.create-button{
height:1em;
border-radius: 8px;
color:#{stop5};

padding:4px 16px;
margin:0;
border: 2px outset #{stop4};


height:32px;


background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #111111 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */

}


\button.create-button:hover{border: 2px outset #{stop4};cursor:pointer;}



\.button-group{
padding:8px;
float:left;
-#border:1px solid #{stop5};
}

\.inner-button-link{
height:40px;
width:40px;
line-height:40px;
font-size:30px;
color:#{stop5};
font-weight:bold;
margin:0 auto;
}

\.inner-button-link:hover{
color:#{stop5};
}

\.markdown_toolbar li{
cursor:pointer;
text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};
font-size:1.2em;
margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 2px #{stop4}, -1px -1px 1px #{stop2};
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};

height:48px;
line-height:48px;

padding:8px 16px;
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(49%,#{stop3}), color-stop(51%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 49%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 49%, #{stop2} 51%, #{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\.inner-button-link:active{
color:#{stop5};
}

\.inner-button{
cursor:pointer;
text-shadow:-1px -1px 2px #{stop2},1px 1px 2px #{stop3};
font-size:1.2em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};
\-moz-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop4};
border-right: 1px solid #{stop4};

height:48px;
line-height:36px;


background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(49%,#{stop3}), color-stop(51%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 50%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%,#{stop3} 50%,#{stop2} 51%,#{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop2}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\.inner-button-alt{
cursor:pointer;
text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};
font-size:1.2em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};
\-moz-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop4};
border-right: 1px solid #{stop4};

height:48px;



background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(49%,#{stop3}), color-stop(51%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop1} 0%,#{stop3} 50%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%,#{stop3} 50%,#{stop2} 51%,#{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop2}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\.inner-button.left-nested{
float:left;
border-right:2px solid #{stop1};
border-radius: 8px 0 0 8px;
height:40px;
width:40px;
padding:4px;
line-height:40px;
}
\.inner-button.right-nested{
float:right;
border-left:2px solid #{stop4};
border-radius: 0 8px 8px 0;
height:40px;
width:40px;
padding:4px;
line-height:40px;
}



\.inner-button.depressed{
text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};
font-size:1.2em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1}, inset 0 0 16px #{stop1};
\-moz-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};

border-top: 1px solid #{stop2};
border-left: 1px solid #{stop2};
border-bottom: 1px solid #{stop1};
border-right: 1px solid #{stop1};
-#text-shadow: -1px -1px 1px black;
height:3em;
line-height:1.5em;

background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(49%,#{stop2}), color-stop(51%,#{stop3}), color-stop(100%,#{stop2})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 49%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 49%, #{stop2} 51%, #{stop1} 100%); /* FF3.6+ */

background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\.submit{
width:66%;
float:right;
font-size:1.5em;
text-shadow:-1px -1px 1px #{alt1},1px 1px 1px #{alt3};
background: #{alt1}; /* Old browsers */
background: -moz-linear-gradient(top, #{alt1} 0%, #{alt3} 49%, #{alt2} 51%, #{alt1} 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{alt1}), color-stop(49%,#{alt3}), color-stop(51%,#{alt2}), color-stop(100%,#{alt1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{alt1} 0%,#{alt3} 49%,#{alt2} 51%,#{alt1} 100%); /* Chrome10+,Safari5.1+ */

-#background: -webkit-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Chrome10+,Safari5.1+ */


background: -o-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* IE10+ */
background: linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{alt1}', endColorstr='#{alt3}',GradientType=0 ); /* IE6-9 */
cursor:pointer;


}



\.subs-inner{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop4} 50%,#{stop4} 60%,#{stop5} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.darkish{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop2} 50%,#{stop2} 60%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 50%, #{stop3} 60%, #{stop4} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.fade-out{
text-shadow:-1px -1px 0px #{stop2},1px 1px 0px #{stop3};
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(50%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 33%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop2} 50%, #{stop1} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop2}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.dark-swish{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #{stop1} 0%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(left, #{stop2} 0%, #{stop3} 50%, #{stop3} 60%, #{stop4} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.dark{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 50%,#{stop3} 60%,#{stop4} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 50%, #{stop3} 60%, #{stop4} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.dark-down{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #{stop2} 0%,#{stop3} 50%,#{stop3} 60%,#{stop4} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.primary{
background: #{stop2}; /* Old browsers */
}

\.light{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #{stop2} 0%,#{stop2} 50%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(bottom, #{stop2} 0%, #{stop3} 50%, #{stop3} 60%, #{stop4} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.light-down{
background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(100%,#{stop3})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop3} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2},#{stop3} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop3} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop2}', endColorstr='#{stop3}',GradientType=0 ); /* IE6-9 */

}

\button.inner-submit{


font-size:1em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;

text-shadow: -1px -1px 1px #{stop1};
height:3em;
line-height:1.5em;

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};

\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 1px #{stop1};

background: #{alt1}; /* Old browsers */
background: -moz-linear-gradient(top, #{alt1} 0%, #{alt2} 50%, #{alt3} 60%, #{alt1} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{alt1}), color-stop(50%,#{alt2}), color-stop(60%,#{alt3}), color-stop(100%,#{alt1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{alt1} 0%,#{alt3} 49%,#{alt2} 51%,#{alt1} 100%); /* Chrome10+,Safari5.1+ */

-#background: -webkit-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Chrome10+,Safari5.1+ */


background: -o-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* IE10+ */
background: linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{alt1}', endColorstr='#{alt3}',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}



\.check_box.checked{


font-size:1em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:0 0 8px black;

border: 1px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:2em;
line-height:2em;
text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};


padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 2px #{stop1};

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};
-#text-shadow: -1px -1px 1px black;


background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 49%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */

background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\.check_box.unchecked{
font-size:1em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:0 0 8px black;

border: 1px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:2em;
line-height:2em;
text-shadow:-1px -1px 1px #{stop1},1px 1px 1px #{stop2};


padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop3}, -1px -1px 2px #{stop1};

border-top: 1px solid #{stop1};
border-left: 1px solid #{stop1};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};
-#text-shadow: -1px -1px 1px black;


background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop3} 49%,#{stop2} 51%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */

background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}



\button.inner-button-small{


font-size:1em;
padding:2px 8px;margin:0;
border-radius: 4px;
color:white;
font-weight:bold;
\-webkit-box-shadow:0 0 8px black;

border: 1px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:1.5em;
line-height:0.75em;

background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\.fold{width:728px;height:64px;margin:0 auto;

}

\.map-holder{
margin-top:12px;
font-size:1.2em;
padding:8px;
-#border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};
\-moz-box-shadow:1px 1px 1px #{stop4}, -1px -1px 1px #{stop2};

border-top: 1px solid #{stop4};
border-left: 1px solid #{stop4};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};
}


\.logo-inner{
border-top: 1px solid #{stop3};
border-left: 1px solid #{stop3};
border-bottom: 1px solid #{stop2};
border-right: 1px solid #{stop2};
}



\/*General styles*/

\a{color:#{stop4};text-decoration: none;}
\a:hover{color:#{stop2};text-decoration:none;} 
\h1{text-shadow:-1px -1px 2px #{stop1};color:#{stop4};text-transform:uppercase;letter-spacing:-1px;font-size:2em;}
\h2{text-shadow:-1px -1px 2px #{stop1};color:#{stop4};text-transform:uppercase;letter-spacing:-1px;font-size:1.3em;height:1.5em;opacity:0.8;}
\h3{text-shadow:-1px -1px 2px #{stop1},1px 1px 1px #{stop3};margin:0 auto;height:1.3em;line-height:1.5em;}

\ul{list-style-type:none;padding:0}
\body{font-family:arial,helvetica,sans-serif;width:512px;margin:0 ;padding:0;color:#{stop5};background:#{stop1};
/*background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#000000), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(bottom, #{stop2} 0%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */*/


}
\.left{float:left}
\.right{float:right}
\.clear{clear:both}
\.showhide{cursor:pointer}

\* {margin:0; padding:0}

\#accordion {margin:0;padding:0px 16px 24px 16px;}
\.accordion {width:459px; font:12px Verdana,Arial; color:#033}
\.accordion dt {width:480px;margin:0 16px; border:2px solid #9ac1c9; padding:8px; cursor:pointer; background:url(images/header.gif)}
\.accordion dt:hover {background:url(images/header_over.gif)}
\.accordion dd {padding:16px;margin:16px 0;overflow:visible; border-bottom:16px solid pink;}
\.accordion span {display:block; width:425px; border:2px solid #9ac1c9; border-top:none; padding:15px}

 







