
- is_mobile = params[:mobile]


- if !is_mobile
  -content_for :main do
    %h2
      = t(".title")

    -form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
      = f.error_messages
      = render :partial => "form", :object => f
      .group.navform
        = f.submit  t("scaffold.create"),:class=>"submit-button"
        = t("global.or")
        = link_to  t("scaffold.back"), groups_path, :class => "cancel button"


- if is_mobile || current_group.group_type == "mobile"


  -content_for :main do
    .container{:style=>"padding-bottom:32px"}
      .heading{:style=>"height:32px;line-height:32px;padding:16px 0 16px;"}
        = "Get y<u>our</u> mobile FAQ"



      .form
        -form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
          = f.error_messages
          = render :partial => "form", :object => f
  

        .clear

      .darkish.inset   
        #tab-bubble
          %div#personal-bubble.deflated{:style=>"position:relative;top:0;z-index:1;"}
            = "Personel"
          %div#business-bubble.deflated{:style=>"position:relative;top:0;z-index:2;"}
            = "Business"
          %div#corporate-bubble.deflated{:style=>"position:relative;top:0;z-index:3;"}
            = "Corporate"
          %div#enterprise-bubble.deflated{:style=>"position:relative;top:0;z-index:4;"}
            = "Enterprose"
          %div#custom-bubble.deflated{:style=>"position:relative;top:0;z-index:5;"}
            = "Custome"

    .tips{:style=>"padding:16px 0 0 0"}
      = "What is the best MOFAQ for me?"

-yield :main
