

#header{:style=>"line-height:24px;background:#{current_group.secondary};border:0"}
  .container{:style => "height:36px;padding:16px 16px 0 16px;"}
    .heading
      = link_to "EDIT MODE", "#{domain_url(:custom => current_group.domain)}", :style=>"text-shadow:-1px -1px 2px black,1px 1px 2px #{current_group.tertiary};color:#{current_group.text_colour};"
          




