
- if @custom_header
  = yield :custom_header
- else

  - if current_group.logo_only?

    - if current_group.default_header
      - header = Header.find(current_group.default_header)
      - base_header = header.header.process(:thumb,header.header_cropping)
      - base_header1 = base_header.process(:thumb,"464x139")
      - base_header2 = base_header1.encode(:png, '-quality 80')
      - header_image = base_header2.url


    -# if @subscription || !current_group.default_header
      -# header_image = base_header2.url
    -# else
      -# expired_header = base_header2.process!(:watermark,:mark => 'public/images/mofaq/expired.png')
      -# expired_header1 = expired_header.encode(:png, '-quality 80')
      -# header_image = expired_header1.url
      -# header_image = base_header2.url

    #header{:style=>"padding-top:16px;height:148px; /*background-size:512px 136px*/;background-repeat:no-repeat", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}

      .logo-inner.inset{:style=>"margin:0 16px 0 16px;width:446px;height:120px;background-image:url(#{header_image});border-radius:0;"}

        -#%img{:src=>"#{header_image}",:height=>"120px",:width=>"446px"}

        - if current_group.logo_only? && current_group.text_only?

          .container{:style => "padding:0;height:80px;width:512px; float:left;z-index:2;position:absolute;top:28px;left:0px;"}
            .logo-mobile{:style => "width:512px"}
              .name
                = link_to h(current_group.display_name), "#{domain_url(:custom => current_group.domain)}", :style=>"text-shadow:-1px -1px 2px black,1px 1px 2px #{current_group.tertiary};color:#{current_group.text_colour};"
            
            -if current_group.has_strapline?
              .clear
              .strapline{:style => "text-shadow:-1px -1px 1px #{current_group.primary_dark},1px 1px 2px #{current_group.secondary};color:#{current_group.text_colour};"}
                ="#{current_group.strapline}" 

        - elsif current_group.logo_only? && !current_group.text_only?
          -if current_group.has_strapline?

            .strapline{:style => "text-shadow:-1px -1px 1px #{current_group.primary_dark},1px 1px 2px #{current_group.secondary};color:#{current_group.text_colour};"}
              ="#{current_group.strapline}" 


    .clear


  - else

    #header.light-down{:style=>"padding-top:16px;padding-bottom:4px;height:156px", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}
      .logo-inner.inset{:style=>"margin:0 16px 0 16px;width:446px;height:128px;border-radius:0;"}
        .container{:style => "padding:0 16px;float:left;z-index:2;position:absolute;top:32px;left:0px;"}
          .logo-mobile
            .name
              = link_to h(current_group.display_name), "#{domain_url(:custom => current_group.domain)}", :style=>"text-shadow:-1px -1px 2px black,1px 1px 2px #{current_group.tertiary};color:#{current_group.text_colour}"
          
          -if current_group.has_strapline?
            .clear
            .strapline{:style => "text-shadow:-1px -1px 1px #{current_group.primary_dark},1px 1px 2px #{current_group.secondary};color:#{current_group.text_colour};"}
              ="#{current_group.strapline}" 

        .clear

