
- if @custom_header
  = yield :custom_header
- else

  - if current_group.logo_only?

    - if current_group.default_header
      - header = Header.find(current_group.default_header)
      - base_header = header.header.process(:thumb,header.header_cropping)
      - base_header1 = base_header.process(:thumb,"512x")
      - base_header2 = base_header1.encode(:jpg, '-quality 80')

    - if @subscription || !current_group.default_header
      - header_image = base_header2.url
    - else
      - expired_header = base_header2.process!(:watermark,:mark => 'public/images/mofaq/expired.png')
      - header_image = expired_header.url

    #header{:style=>"height:136px; background-image:url(#{header_image});/*background-size:512px 136px*/;background-repeat:no-repeat", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}

      - if current_group.logo_only? && current_group.text_only?

        .container{:style => "padding:0;height:80px;width:512px; float:left;z-index:2;position:absolute;top:28px;left:0px;"}
          .logo-mobile{:style => "width:512px"}
            .name{:style=>"margin-top:40px"}
              = link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}", :style=>"font-size:2em;font-weight:bold;text-shadow:-1px -1px 2px black,1px 1px 2px #{current_group.tertiary};color:#{current_group.text_colour};text-decoration:none;margin-left:16px;float:left;"
          
          -if current_group.has_strapline?
            .clear
            .strapline{:style => "bottom:0;width:496px;font-size:1em;font-weight:bold;text-shadow:-1px -1px 1px #{current_group.primary_dark},1px 1px 2px #{current_group.secondary};color:#{current_group.text_colour};float:left;line-height:2em;height:2em;padding-left:16px;"}
              ="#{current_group.strapline}" 

      - elsif current_group.logo_only? && !current_group.text_only?
        -if current_group.has_strapline?

          .strapline{:style => "width:496px;font-size:1em;font-weight:bold;text-shadow:-1px -1px 1px #{current_group.primary_dark},1px 1px 2px #{current_group.secondary};color:#{current_group.text_colour};float:left;line-height:2em;height:2em;padding-left:16px;"}
            ="#{current_group.strapline}" 


    .clear


  - else

    #header.light-down{:style=>"height:134px", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}


      #logo
        = render :partial => "shared/logo_mobile"
