- expanded = local_assigns[:expanded]



.frame
  .inset{:style=>"padding:8px;border-radius:8px;margin-top:8px;"}
    .left{:style=>"width:50%;"}
      .subheading
        = "About"
      = current_group.description

    .frame.inset.right{:style=>"width:40%;padding:8px;border-radius:8px;background:#{current_group.primary}"}
      .subheading
        = "Contact"
      .heading{:style=>"font-size:100%;"}
        = "#{current_group.display_name}"
      .group
        = "#{current_group.group_address_i}"
      .group
        = "#{current_group.group_address_ii}"
      .group
        = "#{current_group.group_city}"
      .group
        = "#{current_group.group_state} "
        = "#{current_group.group_postcode}"

      .group{:style=>"size:1em;text-transform:uppercase;font-weight:bold;"}
        = "#{current_group.group_region}"

      -if current_group.group_phone
        %hr{:style=>"margin-top:8px"} 
        .subheading{:style=>"padding:8px 0;"}
          = "Tel:"
          = link_to "#{current_group.group_phone}","tel: #{current_group.group_phone}"
      -if current_group.group_fax
        .group
          = "Fax: #{current_group.group_fax}"

    -if current_group.group_website
      .clear
      .group{:style=>"padding:16px 0 8px;"}
        .inner-button{:onclick=>"window.location=\'http://#{current_group.group_website}\'",:style=>"text-align:center"}
          = "Visit our main website"    


    .clear




