- expanded = local_assigns[:expanded]


.inset-border{:style=>"padding:16px;margin-top:12px;"}

  - current_group.pages.each do |page|
    - if page.hide != true
      - if page.redirect == true
        .inner-button{:style=>"margin-bottom:12px;", :onclick=>"window.location='#{page.redirect_url}'"}
          .star{:style=>"margin-top:4px;float:right;"}
            = "&#X279C;"
          = link_to "#{page.title}", page.redirect_url, :class=>"inner-button-link",:style=>"font-size:80%;"


      - else

        .inner-button{:style=>"margin-bottom:12px;", :onclick=>"window.location='#{page_path(page)}'"}
          .star{:style=>"margin-top:4px;float:right;"}
            = "&#X279C;"
          = link_to "#{page.title}",page_path(page),:class=>"inner-button-link",:style=>"font-size:80%;"


  %hr

  .inner-button{:style=>"margin-top:12px", :onclick=>"window.location='#{pages_path}'"}
    .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
      = "&#X2798;"
    = link_to "#{current_group.welcome_pages_heading}",pages_path,:class=>"inner-button-link",:style=>"font-size:80%;"



.clear




