- expanded = local_assigns[:expanded]

.location

  .map-holder{:style=>"width:446px; height:446px"}

    .map{:id => "map_canvas", :style=>"width:446px; height:446px"}

.clear

-content_for :custom_javascript do

  %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyAlzkt8p7MDY0igloVFWD1-kQ2wYynxLgs&sensor=false"}
  %script{:type => "text/javascript", :src => "/javascripts/modules/google_maps.js"}


-content_for :javascript_init do
  :javascript
    function initMap() {
      var map = null;
      var geo = new google.maps.LatLng(#{current_group.group_latitude},#{current_group.group_longitude})
      var address = [
        "#{current_group.display_name}",
        "#{current_group.group_address_i}",
        "#{current_group.group_address_ii}",
        "#{current_group.group_city}",
        "#{current_group.group_state}"
      ];

 
      map = createMap(geo,address);
    }
