- expanded = local_assigns[:expanded]





.inset.container{:style=>"padding:0;margin:16px 0;"}
  .container{:style=>"padding:0;margin:0;"}
    .holder{:style=>"padding:16px;"}
      %h1
        = "#{current_group.display_name}"
      -if current_group.strapline != ""
        = "#{current_group.strapline}" 

  .left{:style=>"margin-left:16px;width:198px;"}
    %h2
      = "About"
    = current_group.description

  .right{:style=>"margin-right:16px;width:192px;"}

    -if current_group.locations.count > 1

      %h2
        = "Locations"
      
      - @group.locations.each do |location|
        .group
          .inner-button.submit{:style=>"margin:8px 8px;width:148px;text-align:center;line-height:32px;height:32px;font-size:16px;"}
            = link_to location.name, location_path(location), :style=>"color:#{current_group.text_colour};"
      .seperator{:style=>"color:#{current_group.primary};height:4px;margin:8px 0;"}
      .note{:style=>"color:#{current_group.tertiary};"}
        %button.inner-button{:style=>"margin:8px 8px;width:182px;text-align:center;line-height:32px;height:42px;font-size:16px;"}
          = link_to "Locations",locations_path, :style=>"color:white;"


    -else

      .address{:style=>"font-weight:bold;"}
        %h2
          = "Address"

        .address-name
          = "#{current_group.display_name}"
        .address-line-one
          = "#{current_group.group_address_i}"
        .address-line-two
          = "#{current_group.group_address_ii}"
        .address-city
          = "#{current_group.group_city}"
        .address-state
          = "#{current_group.group_state} "
          = "#{current_group.group_postcode}"

        .address-country{:style=>"size:1em;text-transform:uppercase;font-weight:bold;"}
          = "#{current_group.group_region}"

        -if current_group.group_phone

          .subheading{:style=>"padding:8px 0;"}
            = "Tel:"
            = link_to "#{current_group.group_phone}","tel: #{current_group.group_phone}"


          .inner-button.submit{:style=>"height:32px;font-size:1.1em;letter-spacing:-1px;text-align:center;margin:4px auto;line-height:32px;float:right;"}
            = link_to "☎ Call","tel:#{current_group.group_phone}",:style=>"color:#{current_group.text_colour};"
          .clear

  .clear

  -if current_group.show_hours == true
    .container{:style=>"padding:0;margin:16px 0;"}
      .inner{:style=>"padding:16px 16px 24px 16px;border-radius:8px"}
        %h2
          = "Opening hours: "
        = "#{current_group.group_hours}"  
  -else
    = "&nbsp;"










