- expanded = local_assigns[:expanded]


.inset-border-alt2{:style=>"padding:16px;margin-top:0;border-top:0"}

  - current_group.pages.each do |page|
    - if page.hide != true
      - if page.redirect == true
        .inset.submit.inner-button{:style=>"width:384px;margin-bottom:8px;", :onclick=>"window.location='#{page.redirect_url}'"}
          .star{:style=>"margin-top:0px;float:right;"}
            = "&#10140;"
          = link_to "#{page.title}", page.redirect_url, :class=>"inner-button-link",:style=>"font-size:80%;"


      - else

        .inset.submit.inner-button{:style=>"width:384px;margin-bottom:8px;", :onclick=>"window.location='#{page_path(page)}'"}
          .star{:style=>"margin-top:0px;float:right;"}
            = "&#10140;"
          = link_to "#{page.title}",page_path(page),:class=>"inner-button-link",:style=>"font-size:80%;"



  - if current_group.welcome_pages_index != false

    .clear
    .inset.inner-button{:style=>"margin-top:12px", :onclick=>"window.location='#{pages_path}'"}
      .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
        = "&#X2798;"
      = link_to "#{current_group.welcome_pages_index_heading}",pages_path,:class=>"inner-button-link",:style=>"font-size:80%;"

  .clear

.clear




