
#accordion
  .fold-header
    .container{:style=>"width:480px"}
      = link_to "About us","#",:style=>"color:#{current_group.text_colour};line-height:48px;height:48px;width:424px;margin:12px 0 0 0;",:class=>"inner-button"
  %div
    .container{:style=>"width:480px;padding:0;"}
      = render :partial => "mobile_about"

  .fold-header
    .container{:style=>"width:480px;"}
      = link_to "How can we help?","#",:style=>"color:#{current_group.text_colour};line-height:48px;height:48px;width:424px;margin:12px 0 0 0;",:class=>"inner-button"
  %div
    .container{:style=>"width:480px;padding:0;"}
      = render :partial => "mobile_faq"

  .fold-header
    .container{:style=>"width:480px;"}
      = link_to "Contact","#",:style=>"color:#{current_group.text_colour};line-height:48px;height:48px;width:424px;margin:12px 0 0 0;", :class => "inner-button"
  %div{:id => "map_tab"}
    .container{:style=>"width:480px;padding:0;"}
      = render :partial => "mobile_quick_contact", :locals => {:expanded => false}






