- expanded = local_assigns[:expanded]



.about
  .light-down{:style=>"padding:8px;border-radius:8px;"}
    = current_group.description
    .left{:style=>"width:160px;"}
      .heading{:style=>"font-size:100%;"}
        = "#{current_group.name}"
      .group
        = "#{current_group.group_address_i}"
      .group
        = "#{current_group.group_address_ii}"
      .group
        = "#{current_group.group_city}"
      .group
        = "#{current_group.group_state}"
      .group
        = "#{current_group.group_postcode}"
      .group{:style=>"size:1em;text-transform:uppercase;color:#{current_group.tertiary}"}
        = "#{current_group.group_region}"

      -if current_group.group_phone
        .group
          = "TEL: #{current_group.group_phone}"
      -if current_group.group_phone
        .group
          = "FAX: #{current_group.group_fax}"

.clear




