- expanded = local_assigns[:expanded]

.frame
  .inset{:style=>"padding:8px;border-radius:8px;margin-top:8px;border-top:1px solid #{current_group.tertiary};border-left:1px solid #{current_group.tertiary};border-bottom:1px solid #{current_group.primary};border-right:1px solid #{current_group.primary};"}
    .note{:style=>"padding:8px;font-weight:bold;"}
      = "#{current_group.welcome_directory_content}"
      -#= @items.inspect



.clear




