
-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }


-content_for :main do

  #accordion
    %dl.accordian#slider

      %dt.container{:style=>"width:480px;padding:0 0 16px 0;"}
        .inner-button
          = link_to "Our details","#",:class=>"inner-button-link"
      %dd.container{:style=>"width:480px;padding:0;"}
        = render :partial => "mobile_about"

      %dt.container{:style=>"width:480px;padding:0 0 16px 0;"}
        .inner-button
          = link_to "How can we help?","#",:class=>"inner-button-link"
      %dd.container{:style=>"width:480px;padding:0;"}
        = render :partial => "mobile_faq"

      %dt.container{:style=>"width:480px;padding:0 0 16px 0;"}
        .inner-button
          = link_to "Location","#",:class => "inner-button-link"
      %dd.container{:style=>"width:480px;padding:0;"}
        = render :partial => "mobile_map", :locals => {:expanded => false}

-content_for :javascript_init do

  :javascript
    var slider1=new accordion.slider("slider1");
    slider1.init("slider");
