
-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }


-content_for :main do

  -if current_group.locations.count > 1
    - counter = 0
    - js_string = ""
    - current_group.locations.each do |loc|
      - counter = counter + 1
      - js_string = js_string + "initMap#{counter}();"



  #accordion

    -if current_group.action_button?
      %div.container{:style=>"margin:0;padding:8px 0 0 0;width:464px;"}
        .inset-border{:style=>"margin:0;"}
          -if !current_group.action_button_note.empty?
            .note{:style=>"text-align:center; "}
              = "#{current_group.action_button_note}"
          .empty{:style=>"margin:0 auto;width:480px;"}
            .inset.inner-button.submit{:style=>"text-align:center;margin:8px 40px; width:400px;height:48px;line-height:48px;"}
              = link_to "#{current_group.action_button_text}","#{current_group.action_button_link}", :style=>"color:#{current_group.text_colour};font-size:25px;letter-spacing:-2px;"
          .clear


    -if false
      -if current_group.welcome_directory?
        %div.container{:style=>"margin:0;padding:8px 0 0px 0;width:464px;"}
          .inset{:style=>"margin:0;background:#{current_group.primary};"}
            -if !current_group.action_button_note.empty?
              .note{:style=>"text-align:center; "}
                = "#{current_group.action_button_note}"
            .empty{:style=>"margin:0 auto;width:480px;"}
              .inner-button.submit{:style=>"text-align:center;margin:8px 40px; width:400px;height:48px;line-height:48px;"}
                = link_to "&#9755 Find my nearest",location_finder_path, :style=>"color:#{current_group.text_colour};font-size:25px;letter-spacing:-2px;"
            .clear


    %dl.accordian#slider

      -if current_group.welcome_pages?
        %dt.container{:style=>"padding:12px 0 0 0;"}
          .inset.inner-button
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = "#{current_group.welcome_pages_heading}"
            -#= link_to "#{current_group.quick_create_heading}","#",:class=>"inner-button-link"



        %dd.container{:style=>"padding:0;"}
          = render :partial => "mobile_pages"
          .clear




      %dt.container{:style=>"padding:12px 0 0 0;"}
        .inset.inner-button
          .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
            = "&#x271A;"
          = "Contact Details"
          -#= link_to "Contact Details","#",:class=>"inner-button-link"

      %dd.container{:style=>"padding:8px 0 0 0;"}
        = render :partial => "mobile_about"
        .clear


      -if current_group.welcome_reviews?
        %dt.container{:style=>"padding:12px 0 0 0;"}
          .inset.inner-button
            = "Our reviews"

        %dd.container{:style=>"padding:0;"}
          = render :partial => "mobile_reviews"
          .clear






      -if current_group.welcome_faq?
        %dt.container{:style=>"padding:12px 0 0 0;"}
          .inset.inner-button
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = "#{current_group.quick_create_heading}"
            -#= link_to "#{current_group.quick_create_heading}","#",:class=>"inner-button-link"



        %dd.container{:style=>"padding:0;"}
          = render :partial => "mobile_faq"
          .clear

      -if current_group.welcome_directory?
        %dt.container{:style=>"padding:12px 0 0 0;"}
          .inset.inner-button
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = "#{current_group.welcome_directory_heading}"
            -#= link_to "#{current_group.welcome_directory_heading}","#",:class=>"inner-button-link"


        %dd.container{:style=>"padding:0;"}
          = render :partial => "mobile_directory"
          .clear

      -if current_group.welcome_locations != false
        -if current_group.locations.count > 1

          %dt.container{:style=>"padding:12px 0 0 0;"}
            .inset.inner-button{:style=>"line-height:48px;text-align:left;font-size:27px;font-weight:bold;letter-spacing:-1px;",:id=>"loc-dropdown"}
              .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
                = "&#x271A;"
              = link_to "Locations", "#",:class=>"inner-button-link"
              -#= link_to "Locations","#", :onclick=>"initMaps();",:class => "inner-button-link",:style=>"width:480px;height:32px;"
          %dd.container{:style=>"padding:0;min-height:440px;"}
            = render :partial => "locations/locations_map", :locals => {:expanded => false}
          .clear

        -else

          %dt.container{:style=>"padding:12px 0 0 0;"}
            .inset.inner-button{:onclick=>"initMap();",:style=>"line-height:48px;text-align:left;font-size:27px;font-weight:bold;letter-spacing:-1px;"}
              .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
                = "&#x271A;"
              = "Location"
              -#= link_to "Location","#",:onclick=>"initMap();",:class => "inner-button-link"


          %dd.container{:style=>"width:448px;padding:0;"}
            = render :partial => "mobile_map", :locals => {:expanded => false}
            .clear

        -#%dd.container{:style=>"width:480px;padding:0;"}
          -#= render :partial => "mobile_map", :locals => {:expanded => false}
          -#.clear


      -if current_group.group_website != ""
        .container{:style=>"margin:0;padding:8px 0 6px 0;width:464px;"}
          .inset-border{:style=>"padding:12px 12px 16px 12px;height:64px;"}
            .inner-button.submit{:onclick=>"window.location=\'http:\/\/#{current_group.group_website}?noredirection=true\'",:style=>"width:400px;text-align:center;line-height:48px;height:48px;font-size:25px;"}
              = "#{current_group.group_website_label}"  

      -if current_group.show_facebook == true
        .container{:style=>"margin:0;padding:6px 0 8px 0;width:464px;"}
          .inset-border{:style=>"padding:12px 12px 16px 12px;height:64px;"}
            .facebook

            .inset.inner-button{:onclick=>"window.location=\'http:\/\/#{current_group.group_facebook}'",:style=>"text-align:center;width:312px;float:right;"}

              = "#{current_group.group_facebook_label}"  


-content_for :javascript_init do




  :javascript


    var slider1=new accordion.slider("slider1");
    slider1.init("slider");
