-content_for :form do

  =local_assigns[:mode]
  .container
    .inset
      -form_for @answer, :url => item_answers_path(@item.doctype_id, @item), :html => {:class => "form mainAnswerForm", :style=>"width:480px"} do |f|
        = render :partial => "answers/form_mobile", :locals => {:f => f, :markdown => true, :mode => "item"}
      .clear

  -if false
    - form_for(:answer, :url => item_answer_path(@item.doctype, @item, @answer), :html => {:method => :put, :class => "form"}) do |f|
      = h(@item.mode.to_s)
      =render :partial => "form", :locals => {:f => f, :markdown => true, }
      .group
        .group.navform
          .right
            = f.label :wiki, "Wiki", :class => "radio"
            = f.check_box :wiki, :class => "checkbox"
          = f.submit t("scaffold.update"), :class => "buttton"
          = t("global.or")
          = link_to t('scaffold.cancel'), item_path(@item.doctype, @item), :class => "button cancel"

/Layout

- content_for :custom_header do
  = render :partial => "shared/custom_header", :locals => {:heading => "Edit"}

-content_for :main do

  #main-index
    = yield :form
  .clear

