= f.error_messages


.container
  .inset{:style=>"height:48px;line-height:48px;padding:0 16px;margin:0;"}                          
    .subheading
      .left
        = "&#9881;"
        = "Edit Page"  
      .right
        = link_to "Back to List", pages_path, :class => "inner-button-alt cancel"







.container
  #accordion{:style=>"padding:0 0 32px 0"}
    %dl.accordian#slider

      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "Page Content"
          .right
            = ""

      %dd
        .group
          .note
            = "Page title"
          = f.text_field :title, :class => "text_field_mobile_edit"

        .group
          = f.check_box :hide
          = f.label :hide, "Hide this page in the listings",:style=>"position:relative;top:-12px;"

        .group
          .note
            = "Use markdown for advanced formatting"

          = f.text_area :body, :class => "text_area_mobile_edit", :id => "markdown_editor"
          = f.hidden_field :language, :value => (current_group.language || AppConfig.default_language)

        .group-submit
          = f.submit "Save",:class=>"inner-button submit"
        .clear


      -if current_user.role_on(current_group) == "owner"
        %dt
          %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
            = "Page Action"
            .right
              = ""


        %dd
          .group
            = "Defaults to phone"

      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "External Redirection"
          .right
            = "&#9902;"


      %dd.inset
        .group
          = f.check_box :redirect, :class => "checkbox"
          = f.label :redirect, "Redirect to external website", :class => "radio"
          
        .group
          = f.label :redirect_url, "External URL", :class => "label"
          = f.text_field :redirect_url, :class => "text_field_mobile_edit"

        .group-submit
          = f.submit "Save",:class=>"inner-button submit"


      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "External Content"
          .right
            = "&#9903;"

      %dd.container{:style=>"padding:0; border:1px solid pink;"}
        .group
          = f.check_box :scrape, :class => "checkbox"
          = f.label :scrape, "Fetch content from external website", :class => "radio"
          
        .group
          = f.label :scrape_url, "External URL", :class => "label"
          = f.text_field :scrape_url, :class => "text_field_mobile_edit"

        .group
          = f.label :scrape_id, "External ID", :class => "label"
          = f.text_field :scrape_id, :class => "text_field_mobile_edit"

        .group
          = f.label :scrape_domain, "Base domain ( for link parsing )", :class => "label"
          = f.text_field :scrape_domain, :class => "text_field_mobile_edit"

        .group-submit
          = f.submit "Save",:class=>"inner-button submit"


      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "Custom Functions"
          .right
            = "&#9901;"

      %dd
        .group
          = f.check_box :custom_helper, :class => "checkbox"
          = f.label :custom_helper, "Override page content with custom helper", :class => "radio"

        .group
          = f.label :custom_helper_ref, "Custom helper ref", :class => "label"
          = f.text_field :custom_helper_ref, :class => "text_field_mobile_edit"

        .group
          = f.label :custom_helper_var, "Custom helper var", :class => "label"
          = f.text_field :custom_helper_var, :class => "text_field_mobile_edit"
    
        .group-submit
          = f.submit "Save",:class=>"inner-button submit"


      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "Local Stylesheet"

      %dd

        .group
          .note
            = "Styles here will override any parent styles"
          = f.text_area :css, :class => "text_area_mobile_edit", :value => @page.has_css? ? @page.css.read : ""

        .group-submit
          = f.submit "Save",:class=>"inner-button submit"

      %dt
        %div.inner-button{:style=>"text-align:left;font-size:27px;line-height:48px;font-weight:bold;letter-spacing:-1px;"}
          = "Local Javascript"

      %dd
        .group
          .note
            = "Javascript placed here will only apply to this page"
          = f.text_area :js, :class => "text_area_mobile_edit", :value => @page.has_js? ? @page.js.read : ""
        .group-submit
          = f.submit "Save",:class=>"inner-button submit"


-if current_group.language.nil? && AppConfig.enable_i18n
  .group
    = f.label :language, t(:language, :scope => "activerecord.attributes.item"), :class => "label"
    -lang = @page.new? ? current_user.main_language : @page.language
    = f.select :language, languages_options(current_user.preferred_languages)+[[t("languages.any"), ""]], {:selected => lang}, :class => "select"
    .description
      = t(".language_tip")
-else
  = f.hidden_field :language, :value => (current_group.language || AppConfig.default_language)

-if current_group.has_adult_content
  .group
    = f.check_box :adult_content, :class => "checkbox"
    = f.label :adult_content, t("items.form.adult_content"), :class => "radio"
