-content_for :head do
  -if @page.has_css?
    %link{:href => css_page_path(@page),  :rel => "stylesheet", :media => "screen", :type => "text/css"}

  -if current_group.has_custom_js && @page.has_js?
    %script{:src => js_page_path(@page), :type => "text/javascript"}



-content_for :main do

  .container{:style=>"height:48px;width:464px;padding:8px 32px 0 16px;"}
    .inset{:style=>"height:48px;line-height:48px;padding:0 16px;margin:0px 0 4px 0;"}
      .light                              
        .subheading.left
          ="#{@page.title}"


        .subheading.right
          %ul.right{:style=>"list-style-type:none; display:inline;"}
            %li{:style=>"display:block"}
              .inner-button-alt
                = link_to "#{current_group.welcome_pages_heading}", pages_path
            - if logged_in?
              - if current_user.mod_of?(current_group)
                %li{:style=>"display:block"}
                  .inner-button-alt
                    = link_to "Edit", edit_page_path(@page), :style => "color:white;"


  - if @page.show_body == true
    .container.markdown

      -if safe_page?(@page)
        -body = current_group.wysiwyg_editor ? CGI.unescapeHTML(@page.body) : @page.body
        = RDiscount.new(render_page_links(body)).to_html
      -else
        = markdown(@page.body)

  - if @page.custom_helper == true
    .container{:style=>"width:464px;padding:16px;"}
      -#= "#{@page.custom_helper_ref.to_s}"
      = render :partial => "#{@page.custom_helper_ref.to_s}", :locals => {:custom_helper_var => @page.custom_helper_var}

  - if @page.scrape == true
    .container{:style=>"width:464px;padding:16px 0;"}
      -#= @page.inspect()
      = scrape(@page)








  .clear




