-solution = item.accepted && item.answer_id == answer.id
-source = item_path(@item.doctype_id, @item)

- @aflag = current_user.has_flagged?(answer) if logged_in?
- @aflag ||= Flag.new


.answer.commentable{:class => "post-#{answer.id} #{solution ? "solution" : ""}" }
  %a{:name=>answer.id}






  .answer{:style=>"margin:16px 0;"}

    .container{:style=>"padding:0"}
      .inset.left{:style=>"border-radius:4px;margin:4px 0 0 0; background:#{current_group.primary}"}
        .markdown.entry-content{:style=>"width:364px;min-height:108px;"}
          =find_and_preserve(shapado_auto_link(markdown(answer.body), :link_users => true))
      .right{:style=>"width:84px;min-height:108px;padding:4px 0 0 0"}
 
        .inset.right{:style=>"border-radius:16px 0 16px 0px;margin:0;width:64px;height:32px;background:#{current_group.primary_dark}"}

        -if logged_in?
          -if (current_user.mod_of?(@item.group) || current_user.can_modify?(@item))
            = link_to t("scaffold.edit"), edit_item_answer_path(@item.doctype_id, @item, answer), :class=>"inner-button left", :style=>"margin:8px 16px 0 4px;height:1.1em;line-height:1.1em;width:48px;"
            .clear


        -if logged_in?
          -if (current_user.mod_of?(@item.group) || current_user.can_modify?(@item))

            .controls.right{:style=>"padding:0;margin:0;width:40px;"}
              .actions{:style=>"width:40px;margin-top:8px"}
                -#= link_to "direct link", item_answer_path(@item.doctype_id, @item.id, answer.id), :class => "button"
                - if logged_in? && @aflag.new? && current_user != answer.user
                  = link_to t(".flag"), new_item_answer_flag_path(@item.doctype, @item,answer), :class => "flag-link button", :rel => 'nofollow'

                -if logged_in?
                  -if (current_user.mod_of?(@item.group) || current_user.can_modify?(@item))
                    -unless @item.accepted
                      -#= link_to t(".pick_answer"), solve_item_path(@item.doctype_id, @item, :answer_id => answer), :class=>"button"
                    -if solution
                      -#= link_to t(".unset_answer"),  unsolve_item_path(@item.doctype_id, @item), :class=>"button"
                  -if current_user.can_edit_others_posts_on?(answer.group) || current_user.can_modify?(answer)

                    
                    -#= link_to "Delete", item_answer_path(@item.doctype_id, @item, answer), :confirm => t("scaffold.sure", :model => "answer"), :method => :delete, :class =>"right"


                  -if !@aflag.new?
                    .flagged
                      = "#{t('items.show.flagged_as')} #{t(@aflag.reason, :scope=>'flags.form')}"
                      =link_to t("scaffold.edit"), edit_item_answer_flag_path(@item.doctype_id, @item,answer,@aflag), :class => "flag-link button", :id => "edit_answer_flag_link", :rel => 'nofollow'
                      =link_to t("scaffold.destroy"), item_answer_flag_path(@item.doctype_id, @item,answer,@aflag), :id => "destroy_answer_flag_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete

                -if answer.versions.count > 0
                  -#= link_to t(".history", :default => "history"), history_item_answer_path(@item.doctype_id, @item, answer), :class=>"button"

              .clear
              .forms
            .clear


    .clear
    / Nested Answers
    -#if logged_in?
    -if false
      .actionbox-container{:style => "height:26px; width:100%; background-color:gainsboro"}
        .actionbox{:style => ""}
          = link_to h("Reply to this comment"), new_item_comment_path(@item.doctype_id, @item, @answer), :class => "addNestedAnswer add_answer_comment_link action-button"

    -if false
      .clear
      .forms.comment-form{:style => "background-color:#eee"}
        -form_tag item_answer_comments_path(@item.doctype_id, @item, answer), :class => "form commentForm nestedAnswerForm" do
          -@comment = Comment.new
          = render :partial => "comments/form", :locals => {:source => source, :commentable => answer}
          .group.navform
            = t("global.or")
            = link_to t('scaffold.cancel'), '', :class => 'cancel_comment'
            = submit_tag t("comments.shared.comment_submit"), :class => "create-button", :style => "width:128px; height:24px; float:right;"

        .children.comments{:style => "border-top: 4px solid gainsboro; background-color:#eee"}
          -answer.comments.each do |comment|
            .inline-comment{:style => "border-bottom: 1px dotted gainsboro"}
              = render :partial => "comments/comment", :object => comment, :locals => {:source => source, :mini => true}

        .clear


.clear
