-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :secondary_navigation do


  .subheading.right
    %ul.right{:style=>"list-style-type:none; display:inline;"}
      %li.freshness
        = link_to t("items.index.fresh"), "?sort=fresh", :title => t("items.index.newest_tooltip"),:class=>"inner-button"
      %li.hot
        = link_to t("items.index.hot"), "?sort=hot", :title => t("items.index.hot_tooltip"),:class=>"inner-button", :rel => "nofollow"
      %li.activity
        = link_to t("items.index.activity"), "?sort=activity", :title => t("items.index.active_tooltip"),:class=>"inner-button", :rel => "nofollow"
      %li.relevance
        = link_to t("items.index.relevance"), "?sort=relevance", :title => t("items.index.active_tooltip"),:class=>"inner-button", :rel => "nofollow"
  .clear


/Items
-content_for :main do



  .container{:style=>"width:464px;padding:16px 0 32px 0;margin:0 16px"}

    .dark-down.inset{:style=>"height:48px;line-height:48px;padding:0 16px;margin:0 0 16px 0;"}
      .light 
        .subheading.left
          ="Questions"
        -#= yield :secondary_navigation
   

    .container.inset
      = @lang_conds.to_s


      - index_array = Array.new

      - @items.reverse.each do |item|

        -# if item.doctype_id == @doctype
        - index_array << item

      %table.faq{:style=>"padding:8px 0 16px 0;"}
        - index_array.each do |item|


          -if index_array.empty?
            %li.highlight
              = t(".empty")
          -else

            = render :partial => "item_mobile", :locals => {:item => item, :sort=>"hot"}

    .clear

      -#additional_info
        -#=will_paginate @items













