-content_for :custom_javascript do


  ="<script src=\"/javascripts/jquery.bbq.js\"></script>"

  :javascript


    $(document).ready(function() {

      // Values are not coerced.
      var params = $.deparam.fragment();

      //debug.log( 'not coerced', params );
      $('#deparam_string').text( JSON.stringify( params, null, 2 ) );

      // Values are coerced.
      params = $.deparam.fragment( true );

      //debug.log( 'coerced', params );
      $('#deparam_coerced').text( JSON.stringify( params, null, 2 ) );

      // Highlight the current sample query string link
      var qs = $.param.querystring();

      $('li a').each(function(){
        if ( $(this).attr( 'href' ) === '?' + qs ) {
          $(this).addClass( 'current' );
        }
      });




    });




-content_for :main do

  = "callback params"

  #deparam_coerced{:style=>"border:2px solid red;"}
  #deparam_string{:style=>"border:2px solid green;"}

  %hr
  - params.each do |key,value|
    .item
      = "#{key}:"
      %b
        = "#{value}"


