-content_for :main do

  = "callback params"
  - params_in = CGI.parse(request.query_string)

  %hr
  - params.each do |key,value|
    .item
      = "#{key}:"
      %b
        = "#{value}"

  %hr
  - params_in.each do |key,value|
    .item
      = "#{key}:"
      %b
        = "#{value}"
