-content_for :custom_javascript do

  ="<script src=\"/javascripts/jquery.bbq.js\"></script>"

  :javascript

    $(document).ready(function() {

      var passthrough = "/headers/callback?" + $.param.fragment();
      document.location.href=passthrough;
 
    });

  

-if false
  -content_for :main do

    = "callback params"

    #deparam_coerced{:style=>"border:2px solid red;"}
    #deparam_string{:style=>"border:2px solid green;"}
    %hr

    

    #output
      = @remoteu.to_s


    %hr
    - params.each do |key,value|
      .item
        = "#{key}:"
        %b
          = "#{value}"


