-content_for :custom_javascript do
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'jquery.bbq'

  :javascript

    $(document).ready(function() {

      var passthrough = "/headers/callback?" + $.param.fragment();
      document.location.href=passthrough;
 
    });

  
-content_for :main do
  .container
    .frame.inset{:style=>"padding:32px 0;margin:0 auto; width:80px;height:80px;"}
      = image_tag "/images/throbber.gif"



-if false
  -content_for :main do

    = "callback params"

    #deparam_coerced{:style=>"border:2px solid red;"}
    #deparam_string{:style=>"border:2px solid green;"}
    %hr

    

    #output
      = @remoteu.to_s


    %hr
    - params.each do |key,value|
      .item
        = "#{key}:"
        %b
          = "#{value}"


