

- content_for :custom_javascript do
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'jquery.jcrop.min'

  = stylesheet_link_tag 'jquery-jcrop'


- content_for :main do

  %script{:language => "Javascript"}
    = "function showPreview(coords)"
    = "{"
    = "var aspect_ratio = #{@header.header_width} / #{@header.header_height};"
    = "var multplier =(1.0 * #{@header.header_width} / #{Header::CROP_W});"
    = "var crop_str = Math.round(coords.w * multplier) + 'x' + Math.round(coords.h * multplier) + '+' +"
    = "               Math.round(coords.x * multplier) + '+' + Math.round(coords.y * multplier)"
    -#= "               '=>#{Header::THUMB_W }x#{Header::THUMB_H}'"
    = "$('#header_cropping').val(crop_str);"
    = "var rx = #{Header::THUMB_W}/ coords.w;"
    = "var ry = #{Header::THUMB_H}/ coords.h;"
    = "var sx = 140/ coords.w;"
    = "var sy = 140/ coords.h;"
    = "$('#preview').css({"
    = "width: Math.round(rx * #{Header::CROP_W}) + 'px',"
    = "height: Math.round(ry * #{Header::CROP_W} * #{@header.header_height} / #{@header.header_width}) + 'px',"
    = "marginLeft: '-' + Math.round(rx * coords.x) + 'px',"
    = "marginTop: '-' + Math.round(ry * coords.y) + 'px'"
    = "});"
    = "}"

    = "$(function() {"
    = "$('#cropbox').Jcrop({"
    = "onSelect: showPreview,"
    = "onChange: showPreview,"
    = "setSelect:   [ 0, 0, 240, 240 ],"
    = "aspectRatio: #{Header::THUMB_W}/#{Header::THUMB_H}"
    = "});"
    = "});"



  - dragonfly_link = "/media/" << @header.header_uid.to_s
  - cropped_header = @header.header.process(:thumb, '480x')

  - @base_header = @default_thumbnail
  -# base_header = @header.header.process(:thumb,header.header_cropping)
  - expanded_header = @header.header.process(:thumb,"800x")
  - base_thumbnail = @header.header.process(:thumb,"300x")

  .clear
  #main

    .container{:style => "width:480px;height:64px;padding:0 16px 32px 16px"}

      .button-group
        .note
          = "Flip"
        .buttons
          %div.inner-button.right-nested
            = link_to "↕", flip_header_path(@header), :class => "inner-button-link"
          %div.inner-button.left-nested
            = link_to "↔", flop_header_path(@header), :class => "inner-button-link"

      .button-group
        .note
          = "Rotate"
        .buttons
          %div.inner-button.right-nested
            = link_to "↺", rotate_left_header_path(@header), :class => "inner-button-link"
          %div.inner-button.left-nested
            = link_to "↻", rotate_right_header_path(@header), :class => "inner-button-link"
      .button-group
        .note
          = "Zoom"
        .buttons
          %div.inner-button.right-nested
            = link_to "-", rotate_left_header_path(@header), :class => "inner-button-link"
          %div.inner-button.left-nested
            = link_to "+", rotate_right_header_path(@header), :class => "inner-button-link"

      .button-group
        %div.left{:style=>"padding-top:16px;"}
          - form_for @header, :url => header_path(@header), :html => {:multipart => true} do |f|
            = f.hidden_field :header_cropping, :id => 'header_cropping'
            = f.submit "Crop", :class => "inner-button submit", :style=>"height:48px;width:104px;padding:4px 16px;margin:0;"


    .clear
    .crop-container
      .crop
        = image_tag cropped_header.url, :width => "480px", :id => 'cropbox'

    #accordion
      %dl.accordian#slider

        %a{:name=>"1"}
        %dt.container{:style=>"width:480px;padding:8px 0;"}
          .inner-button
            = link_to "Advanced","#",:style=>"color:#{current_group.text_colour};line-height:48px;height:48px;width:424px;margin:12px 0 0 0;"
        %dd.container{:style=>"width:480px;padding:0;"}
          .dark.inset{:style=>"margin-bottom:16px"}
            %div.right
              %button.inner-button
                = link_to "Desat", desat_header_path(@header), :class => "inner-button"
              %button.inner-button
                = link_to "Negate", negate_header_path(@header), :class => "inner-button"
              %button.inner-button
                = link_to "Watermark", watermark_header_path(@header), :class => "inner-button"
          .clear



- content_for :custom_header do
  - cropped_header = @header.header.process(:thumb, 'x512')
  %div{:style => "width:480px;height:144px;overflow:hidden;position:absolute;top:28px;left:0px;z-index:11;"}
    = image_tag (cropped_header.url, :width => "256px", :id => 'preview')

  .container{:style=>"margin:16px;border:1px solid yellow;height:104px;z-index:11;"}
    = "Keep within yellow guide"




- content_for :custom_ua do
  - if request.user_agent.include?("iPhone") then
    = "<meta name=\"viewport\" content=\"width=device-width, initial-scale=0.625, user-scalable=no\" />"
  - elsif request.user_agent.include?("iPad") then
    = "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.25, user-scalable=no\" />"
  - else
    = "<meta name=\"viewport\" content=\"width=512, initial-scale=1, user-scalable=yes\" />"



-content_for :javascript_init do

  :javascript
    var slider1=new accordion.slider("slider1");
    slider1.init("slider");

