
- ua = request.user_agent.downcase


-content_for :custom_javascript do

  %script{:type=>"text/javascript"}


  - if ua.include?("iphone") then
    -#="<script src=\"/javascripts/picup/prototype.js\"></script>"
    ="<!--iphone//-->"
    ="<script src=\"/javascripts/picup/picup.js\"></script>"
    ="<script src=\"/javascripts/picup/scratchpad.js\"></script>"

  - if ua.include?("ipad") then
    ="<!--ipad//-->"
    -#="<script src=\"/javascripts/picup/prototype.js\"></script>"
    ="<script src=\"/javascripts/picup/picup.js\"></script>"
    ="<script src=\"/javascripts/picup/scratchpad.js\"></script>"


-content_for :apple do
  .container{:style=>"padding:0px;"}
    .dark.inset
      - callbackURL = domain_url(:custom => current_group.domain) + header_callback_path

      = "You are using an Apple mobile device - you need a program called picup - its free in the istore</br>"

      = "<input type=hidden id=scratch_action value=new/>"
      = "<input type=\"hidden\" id=\"callbackURL_value\" value=\"#{callbackURL}?\"/>"
      = "<input class=\"submit-button\" type=\"button\" id=\"file_view_input\" style=\"display:true;\" onclick=\"viewScratchURL(callbackURL_value.value);return false;\" value=\"Upload & Process\" />"

-content_for :main do
  .container{:style=>"background:#{current_group.secondary};"}
    .subheading{:style=>"height:32px;line-height:32px;padding:16px 0 0;"}
      = "Add a new image"
    .note
      = "Tip: For optimum results use a 480x144px 8bit .PNG file"

  #accordion
    %dl.accordian#slider

      %dt.container{:style=>"width:480px;padding:16px 0 0 0;"}
        .inner-button
          = link_to "Standard Upload","#",:class=>"inner-button-link"

      %dd.container{:style=>"width:480px;padding:0;"}
        .container{:style=>"width:480px;padding:0;margin:16px 0"}
          .dark.inset{:style=>""}


            - if ua.include?("iphone") then
              = yield :apple
            - elsif ua.include?("ipad") then
              = yield :apple
            - else
              .container{:style=>"padding:0px;"}
                .div
                  - form_for @header, :url => headers_path, :html => {:multipart => true, :class => "form mainAnswerForm"} do |f|
                    = f.error_messages
                    .group
                      .note{:style=>"padding:0 0 8px 0;"}
                        = "Choose an image to upload:"
                      .clear
                    .group
                      = f.file_field :header, :value => @header.header, :class => "inset", :style=>"font-size:2em;width:446px;"
                      = f.hidden_field :name, :value => @header.name, :class => "text_field"
                      .clear
                    .group{:style=>"padding:16px 0;"}
                      = f.submit 'Add this image', :class=>"inner-button submit", :style=>""
                      = link_to 'cancel', headers_path(@header),:class => "inner-button"
                      .clear
                    %hr{:style=>"border-width:1px;border-color:#{current_group.tertiary};"}
                    .note{:style=>"font-weight:bold"}
                      = "Remember: You can also access MOFAQ from any computer, so if you already have images you would like to use simply browse to MOFAQ on a regular computer"

      %dt.container{:style=>"width:480px;padding:16px 0 0 0;"}
        .inner-button
          = link_to "Advanced","#",:class=>"inner-button-link"

      %dd.container{:style=>"width:480px;padding:0;margin:16px 0"}

        .dark.inset
          = "You can alternatively use an existing image on the internet if you know the exact URL:"
          %form{:action=>"/headers/callback",:method=>"post"}
            %input{:type=>"text",:name=>"remoteImageURL",:class=>"text_field_mobile_edit"}
            %input{:type=>"submit",:class=>"inner-button submit"}
          .clear
      


-content_for :javascript_init do

  :javascript
    var slider1=new accordion.slider("slider1");
    slider1.init("slider");



