
-content_for :after_form do

  .container{:style=>"padding:0 16px 16px 16px;"}
    .description{:style=>"height:64px; line-height:64px;"}
      .subheading
        = "Change Password"

    .inset.container{:style=>"padding:16px;"}

      -form_for(current_user, :html => {:class => "form", :multipart => true}) do |f|
        = f.error_messages

        -#.group
          -#= label_tag :current_password, t(:current_password, :scope => "activerecord.attributes.user"), :class => "label"
          -#= f.password_field :current_password, '', :class => 'text_field'

        .group
          = f.label :password, t(:password, :scope => "activerecord.attributes.user"), :class => "label"
          = f.password_field :password, :class => "text_field_mobile_edit"

        .group
          = f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user"), :class => "label"
          = f.password_field :password_confirmation, :class => "text_field_mobile_edit"

        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save"
        .clear
