
.container

  .heading
    = "Google Maps"

  .note
    = "These settings affect how your map appears - you can also submit your details to Google"


  .group
    = "Maps stuff here"


  .group
    %button.submit-button.left{:style=>"margin:0 0 32px;"}
      = "Save"
  .clear 

  .dark-down.inset
    = "Submit your details to the google index for maximum coverage"
    
    .status
      = "Google status: [ok] [pending] [error]"

    %button.submit-button.left{:style=>"margin:0 0 32px;font-size:1.2em;"}
      = "(re)Submit to google"

    -#TODO: When submitting to google it should take you to a results page showing what was submitted - obviously we cant tell instantly if its been accepted

    .clear

  .dark-down.inset
    .subheading
      = "Help!"
    %ul
      %li
        = "What if the map does not show an accurate address?"
      %li
        = "What if my business is already listed in Google?"
