.container
  .heading
    = "Google Analytics"
  .note
    = "Paste your Google Analytics tracking code here"


  -# Just do Australia for now - internationalize later
  .about
    .dark-down.inset
      .mobile-form{:style=>"padding:0px 16px"}
        .group

          
          = f.text_area :group_analytics, :value => group_analytics, :class=> "text_field_mobile_edit", :style => "height:128px;font-size:1em"

        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save"

      .clear

  .tips
    %ul
      %li
        = "How to get your Google Analytics tracking code"











