- content_for :css do
  %style
    -#= "input[type=\'checkbox\']{display:none}"
    = ".check_box{text-align:center; line-height:32px;padding:4px 8px;height:32px;width:32px;font-size:8em;}"




.container
  .heading
    = "FAQ configuration"
  .note
    = "These settings control the FAQ section of your MOFAQ homepage"


  -# Just do Australia for now - internationalize later
  .about
    .darkish.inset
      .mobile-form{:style=>"padding:0px"}



        .inner-button
          = f.check_box :welcome_faq, :class => "check_box"
          = f.label :welcome_faq, "Show FAQ section on the welcome page"

        .inner-button
          = f.check_box :has_quick_create, :class => "check_box"
          = f.label :has_quick_create, "Allow questions from visitors?"


        .group
          .note
            = "Button label on homepage "
          = f.text_field :quick_create_heading, :class=> "text_field_mobile_edit"


        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save FAQ configuration"
        .clear

  .tips
    %ul
      %li
        = "What if my business has multiple phone numbers?"
