.container
  .heading
    = "Company description"
  .note
    = "Your company description appears in the About section of your MOFAQ homepage"


  -# Just do Australia for now - internationalize later
  .about
    .inset
      .mobile-form{:style=>"padding:0px 16px"}

        .group
          .note
            = "Name"
          = f.text_field :display_name, :class=> "text_field_mobile_edit", :style => "font-size:1em"
        .group
          .note
            = "Strapline"
          = f.text_field :strapline, :class=> "text_field_mobile_edit", :style => "font-size:1em"

        .group
          .note
            = "Description"
          = f.text_area :description, :class=> "text_area_mobile_edit", :style => "height:128px;font-size:1em"

        .group
          = f.check_box :show_hours, :class => "left"
          .note
            = "Opening hours"
          = f.text_field :group_hours, :class=> "text_field_mobile_edit"

        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save"

      .clear

  .tips
    %ul
      %li
        = "How to write a great company description"
