.container
  .heading
    = "Google Analytics"
  .note
    = "Paste your Google Analytics tracking code here"


  -# Just do Australia for now - internationalize later
  .about
    .dark-down.inset
      .mobile-form{:style=>"padding:0px 16px"}
        .group

          -#@group.has_custom_js? ? custom_css = @group.custom_js.read : custom_js = ""
          = "Analytics - full members only"

        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save"

      .clear

  .tips
    %ul
      %li
        = "How to modify and target styles in MOFAQ"











