.container
  .heading
    = "Company description"
  .note
    = "Your company description appears in the About section of your MOFAQ homepage"


  -# Just do Australia for now - internationalize later
  .about
    .dark-down.inset
      .mobile-form{:style=>"padding:0px"}

        .group
          .note
            = "Name"
          = f.text_field :display_name, :class=> "text_field_mobile", :style => "font-size:1em"
        .group
          .note
            = "Strapline"
          = f.text_field :strapline, :class=> "text_field_mobile", :style => "font-size:1em"

        .group
          .note
            = "Description"
          = f.text_area :description, :class=> "text_field_mobile", :style => "height:128px;font-size:1em"

        .group
          .note
            = "Business type"
          =render :partial => "admin/manage/properties/group_place_types"
          -#= f.text_field :group_place_type, :class=> "text_area_mobile", :style => "width: 100%"

        .group
          %button.submit-button.left{:style=>"margin:0 0 32px;"}
            = "Save"

      .clear

  .tips
    %ul
      %li
        = "How to write a great company statement"
