.container
  .heading
    = "Contact Information"
  .note
    = "These details appear on your MOFAQ homepage - just leave blank if you dont want that information to appear"


  -# Just do Australia for now - internationalize later
  .about


    .inset
      .mobile-form{:style=>"padding:0px 16px"}
        .group

          .note
            = "Phone "
          = f.text_field :group_phone, :class=> "text_field_mobile_edit"

        .group
          .note
            = "Fax"
          = f.text_field :group_fax, :class=> "text_field_mobile_edit"

        .group
          .note
            = "Website"
          = f.text_field :group_website, :class=> "text_field_mobile_edit"

        .group
          .note
            = "Generic Email"
          = f.text_field :group_generic_email, :class=> "text_field_mobile_edit"

        .group
          %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
            = "Save"
        .clear

    .clear


  .tips
    %ul
      %li
        = "&nbsp;"
