- content_for :css do
  %style
    -#= "input[type=\'checkbox\']{display:none}"
    = ".check_box{text-align:center; line-height:32px;padding:4px 8px;height:32px;width:32px;font-size:8em;}"




.container
  .heading
    = "General Settings"

  .darkish.inset
    .mobile-form{:style=>"padding:0px;font-size:27px;"}

      .setting{:style=>"margin:8px;width:416px;"}
        = f.check_box :welcome_faq, :class => "check_box"
        = f.label :welcome_faq, "Show FAQ"

      .setting{:style=>"margin:8px;width:416px;"}
        = f.check_box :welcome_pages, :class => "check_box"
        = f.label :welcome_pages, "Show Pages"



      .setting{:style=>"margin:8px;width:416px;"}
        = f.check_box :welcome_locations, :class => "check_box"
        = f.label :welcome_locations, "Show Locations"

      .setting{:style=>"margin:8px;width:416px;"}
        = f.check_box :welcome_reviews, :class => "check_box"
        = f.label :welcome_reviews, "Show Reviews"

      .setting{:style=>"margin:8px;width:416px;"}
        = f.check_box :welcome_directory, :class => "check_box"
        = f.label :welcome_directory, "Show Directory"


 


      .group
        %button.inner-button.submit.right{:style=>"margin:0 0 32px;"}
          = "Save"
      .clear
      .note
        = "Related settings"
      %button.inner-button{:style=>"text-align:left;width:448px;height:56px;line-height:32px;font-size:1.5em;margin:4px 8px;"}
        = link_to "FAQ Configuration", "?tab=group_faq_configuration",:style=>"color:white;margin-right:16px;"
      %button.inner-button{:style=>"text-align:left;width:448px;height:56px;line-height:32px;font-size:1.5em;margin:4px 8px;"}
        = link_to "Directory Settings", "?tab=group_directory",:style=>"color:white;margin-right:16px;"
      %button.inner-button{:style=>"text-align:left;width:448px;height:56px;line-height:32px;font-size:1.5em;margin:4px 8px;"}
        = link_to "Pages Settings", "?tab=group_pages",:style=>"color:white;margin-right:16px;"

  .tips
    %ul
      %li
        = "What if my business has multiple phone numbers?"
