

- if @subscription
  -content_for :after_form do
    .container{:style=>"height:48px;width:464px;padding:4px 16px 16px 16px;"}
      .inset{:style=>"height:48px;line-height:48px;padding:0 16px;margin:0;"}                          
        .subheading.left
          = "Settings"



    -# TODO: This is a bit of a hack really, will figure out a more elegant way later
    .container
      .inset.inner-button{:style=>"margin-bottom:12px;"}
        .star{:style=>"margin-top:2px;float:right;"}
          = "&#x2022;"
        = link_to "Contact Details","?tab=group_description",:class=>"inner-button-link"

    .container
      .inset.inner-button{:style=>"margin-bottom:12px;"}
        .star{:style=>"margin-top:2px;float:right;"}
          = "&#x2022;"
        = link_to "Address","?tab=group_address",:class=>"inner-button-link"

    .container
      .inset.inner-button{:style=>"margin-bottom:12px;"}
        .star{:style=>"margin-top:2px;float:right;"}
          = "&#x2022;"
        = link_to "Static Pages", pages_path+'?edit=true',:style=>"color:white;margin-right:16px;"

    #accordion
      %dl.accordian#slider

        %a{:name=>"3"}
        %dt{:style=>"padding:0"}
          .inset.inner-button{:style=>"margin-bottom:12px;"}
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = link_to "Account holder","#3",:class=>"inner-button-link"

        %dd{:style=>"margin-bottom:16px"}
          .inset-border
            %ul.mobile
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Add User",new_user_path(:owner=>true), :style=>"color:#{current_group.text_colour};"
              %li.hidden
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Account Holder Details", "?tab=account_details",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Change password", "?tab=account_password",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Subscriptions", "?tab=account_subscriptions",:style=>"color:white;margin-right:16px;"
                  
        %a{:name=>"2"}
        %dt{:style=>"padding:0"}
          .inset.inner-button{:style=>"margin-bottom:12px;"}
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = link_to "MOFAQ Settings","#2",:class=>"inner-button-link"


        %dd{:style=>"margin-bottom:16px"}
          .inset-border
            %ul.mobile
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "General Settings", "?tab=group_settings",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Header Images", "/headers",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Colour Wheel", "?tab=colour_wheel",:style=>"color:white;margin-right:16px;"
                  
              %li.hidden
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Background Colours", "?tab=background_colours",:style=>"color:white;margin-right:16px;"
                  
              %li.hidden
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "FAQ Configuration", "?tab=group_faq_configuration",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Action Button", "?tab=group_action_button",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Mobile Redirection", "?tab=group_redirect",:style=>"color:white;margin-right:16px;"
                  

              %li.hidden{:style=>"margin-bottom:12px;"}
                .inset.inner-button{:style=>"text-align:right;width:424px;height:56px;line-height:32px;font-size:1.5em; margin:4px 8px;margin:4px 8px;"}
                  = link_to "Messaging", "?tab=google_maps",:style=>"color:white;margin-right:16px;"
                  






        %a{:name=>"4"}
        %dt{:style=>"padding:0"}
          .inset.inner-button
            .star{:style=>"margin-top:2px;font-size:110%;float:right;"}
              = "&#x271A;"
            = link_to "Advanced","#4",:class=>"inner-button-link"

        %dd{:style=>"margin-bottom:16px;margin-top:16px;"}
          .inset-border
            %ul.mobile
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Domain name", "?tab=mobile_domain",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Google analytics", "?tab=group_analytics",:style=>"color:white;margin-right:16px;"
                  

              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Custom Stylesheet", "?tab=group_stylesheets",:style=>"color:white;margin-right:16px;"
                  
              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Group Hierarchies", "?tab=group_hierarchy",:style=>"color:white;margin-right:16px;"
                  

              %li
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Locations (Business+)", "/locations",:style=>"color:white;margin-right:16px;"
                  

              %li{:style=>"display:none"}
                .inset.inner-button{:style=>"margin-bottom:12px;"}
                  = link_to "Google maps", "?tab=google_maps",:style=>"color:white;margin-right:16px;"
                  


    -if current_group.users.count.to_i < 2

      .inset-border.container{:style=>"width:438px;padding:16px;"}
        .note{:style=>"text-align:center; margin:0 0 16px 0;"}
          = "This site does not yet have an account holder..."
        .empty{:style=>"margin:0 auto;width:446px;"}
          .inner-button.submit{:style=>"text-align:center;margin:0 32px; width:356px;height:56px;line-height:56px;"}
            = link_to "Add account holder",new_user_path(:owner=>true), :style=>"color:#{current_group.text_colour};"
        .clear

- else
  .container{:style=>"padding-top:16px;"}

    .light.inset{:style=>"height:60px;width:456px;border-radius:8px"}
      .label{:style=>"margin:16px 16px 0;float:left; width:210px;font-weight:bold;line-height:30px;"}
        = "Administer your MOFAQ >>"
      .inner-button-alt{:style=>"float:right;"}
        = link_to 'My Settings', add_trial_subscription_path(@group), :style=>"color:#{current_group.text_colour}"
    .clear

    .dor{:style=>"height:3em;line-height:3em;"}
      = "<b>When you are happy...</b>"


    -content_for :after_form do
      .container{:style=>"padding-bottom:16px;"}
        .light.inset{:style=>"padding:8px 8px 16px 8px;"}
          .dark{:style=>"padding:16px;border-radius:8px;"}

            .new{:style=>""}

              - form_tag "/subscriptions/add_pending" do

                .inner-button.submit{:style=>"text-transform:none;", :action => :submit}
                  = " Buy subscription"


            .note{:style=>"padding:16px 0;margin-top:16px;"}

              = "Your annual subscription gives you unlimited access to the settings and removes the \"expired\" watermark from your headers. "
            .paypal{:style=>"background:white;border-radius:4px;-webkit-box-shadow:0 0 8px black;"}
              = image_tag "/images/mofaq/paypal-protection.png"
            .note{:style=>"font-size:0.7em;color:#{current_group.primary_dark};"}
              = "You are about to purchase a MOFAQ Annual Subscription, this will appear on your statement as \"<b>moFAQ(On Software Pty Ltd)</b>\""
            .note{:style=>"font-size:0.7em;color:#{current_group.primary_dark};"}
              = "For your security and convenience we accept only paypal and credit cards, paypal is used to process credit card transactions however you do not need a paypal account"
            .note
              = "<b>You will be redirected to Paypal to complete the transaction</b>"


        .clear

-content_for :javascript_init do

  :javascript
    var slider1=new accordion.slider("slider1");
    slider1.init("slider");

