

- if @subscription
  -content_for :after_form do
    .container
      .heading{:style=>"height:32px;line-height:32px;padding:16px 0;"}
        = "MOFAQ Settings"

    .container{:style=>"padding-bottom:16px;border-top:1px solid #{current_group.primary};background:#{current_group.secondary};"}

      -# TODO: This is a bit of a hack really, will figure out a more elegant way later
      -if current_group.users.count.to_i < 2
        .dark.inset
          .create-owner
            = "This site does not yet have an account holder..."
          .submit-button
            = link_to "Add account holder",new_user_path(:owner=>true),:class=>"inner-button-link"




    #accordion
      %dl.accordian#slider

        %a{:name=>"1"}
        %dt.container{:style=>"width:480px;padding:8px 0;"}
          .inner-button
            = link_to "Appearance Settings","#1",:class=>"inner-button-link"
        %dd.container{:style=>"width:480px;padding:0;"}
          .dark.inset{:style=>"margin-bottom:16px"}
            %ul.mobile
              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;font-size:1.5em;margin:4px 8px;"}
                  = link_to "Choose images for header", "/headers",:style=>"color:white;margin-right:16px;"
              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;font-size:1.5em;margin:4px 8px;"}
                  = link_to "Background Colours", "?tab=colour_wheel",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"

        %a{:name=>"2"}
        %dt.container{:style=>"width:480px;padding:8px 0;"}
          .inner-button
            = link_to "Company Details","#2",:class=>"inner-button-link"
        %dd.container{:style=>"width:480px;"}
          .dark.inset
            %ul.mobile

              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Company description ", "?tab=group_description",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"

              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Physical Address", "?tab=group_address",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"
              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Contact Phone", "?tab=group_phone",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"


              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Google maps", "?tab=google_maps",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"

        %a{:name=>"3"}
        %dt.container{:style=>"width:480px;padding:8px 0;"}
          .inner-button
            = link_to "Account holder","#3",:class=>"inner-button-link"
        %dd.container{:style=>"width:480px;"}
          .dark.inset
            %ul.mobile

              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Contact Address", "?tab=group_location",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"
              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Company statement ", "?tab=group_contacts",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"

              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Google maps", "?tab=google_maps",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"

        %a{:name=>"4"}
        %dt.container{:style=>"width:480px;padding:8px 0;"}
          .inner-button
            = link_to "Advanced","#4",:class=>"inner-button-link"
        %dd.container{:style=>"width:480px;"}
          .dark.inset
            %ul.mobile
              %li
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Domain name", "?tab=mobile_domain",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"
                %button.inner-button{:style=>"text-align:right;width:442px;height:56px;line-height:32px;margin-bottom:16px;font-size:1.5em;"}
                  = link_to "Google analytics", "?tab=mobile_domain",:style=>"color:white;margin-right:16px;"
                  = image_tag "/images/spacer.gif", :height => "32px", :width => "32px",:style=>"float:left;"


- else
  .container{:style=>"padding-top:16px;"}

    .light.inset{:style=>"height:60px;width:456px;border-radius:8px"}
      .label{:style=>"margin:16px 16px 0;float:left; width:210px;font-weight:bold;line-height:30px;"}
        = "Try before you buy! >>"
      .inner-button{:style=>"float:right;width:168px;font-size:0.8em;"}
        = link_to 'Activate Free Trial', add_trial_subscription_path(@group), :style=>"color:#{current_group.text_colour};font-size:1.3em;", :class => "inner-button-link"
    .clear

    .dor{:style=>"height:3em;line-height:3em;"}
      = "<b>Or simply...</b>"


    -content_for :after_form do
      .container{:style=>"padding-bottom:16px;"}
        .light.inset{:style=>"padding:8px 8px 16px 8px;"}
          .dark{:style=>"padding:16px;border-radius:8px;"}

            .new{:style=>"border:4px solid green"}
              = "form"
              - form_tag "/subscriptions/add_pending" do

                %button.submit-button{:style=>"text-transform:none;width:442px;", :action => :submit}
                  = " Buy subscription"





            .note{:style=>"margin:16px 0;"}

              = "Your annual subscription gives you unlimited access to the settings and removes the \"expired\" watermark from your headers. "
            .paypal{:style=>"background:white;border-radius:4px;-webkit-box-shadow:0 0 8px black;"}
              = image_tag "/images/mofaq/paypal-protection.png"
            .note{:style=>"font-size:0.7em;color:#{current_group.primary_dark};"}
              = "You are about to purchase a MOFAQ Annual Subscription, this will appear on your statement as \"<b>moFAQ(On Software Pty Ltd)</b>\""
            .note{:style=>"font-size:0.7em;color:#{current_group.primary_dark};"}
              = "For your security and convenience we accept only paypal and credit cards, paypal is used to process credit card transactions however you do not need a paypal account"
            .note
              = "<b>You will be redirected to Paypal to complete the transaction</b>"


        .clear

-content_for :javascript_init do

  :javascript
    var slider1=new accordion.slider("slider1");
    slider1.init("slider");

