- location = local_assigns[:location]
- counter = local_assigns[:counter]
- align = local_assigns[:align]



.inset.map-holder{:style=>"width:208px; height:auto;margin:0 0 16px 0",:class=>"#{align}"}
  .subheading{:style=>"height:32px;line-height:20px;margin:8px 0;"}
    = location.loc_city
    -#.inner-button.right{:style=>"font-size:0.8em;height:18px;line-height:18px;margin:0 0 4px 0;"}
      -#= link_to  "+", location_path(location)



  .map.inset{:id => "map_canvas#{counter}", :style=>"width:196px; height:196px; border-radius:0;margin-right:4px;"}

  .note{:style=>"margin:8px 0 8px 0"}
    .addr.sitename
      %strong
        = location.name
    .address{:style=>"overflow:hidden"}
      = location.loc_address_i + ","
      = location.loc_city
    .note{:style=>"overflow:hidden"}
      = "Open:"
      = location.opening_hours1
    -#.note{:style=>"overflow:hidden"}
      -#= location.opening_hours2
    .hr{:style=>"height:1px;width:100%;background:#{current_group.tertiary};margin:8px 0 4px;"}

  - if location.show_alt_button == true
    .inner-button.submit{:style=>"width:178px;height:48px;font-size:1.1em;letter-spacing:-1px;text-align:center;margin:4px 0;line-height:48px;"}
      = link_to "☎ #{location.loc_city}","tel:#{location.loc_phone}",:style=>"color:#{current_group.text_colour};"
    .clear
    .inner-button{:style=>"width:178px;height:32px;font-size:1.1em;letter-spacing:-1px;text-align:center;margin:4px 0;line-height:32px;"}
      = link_to "#{location.alt_button_text}","#{location.alt_button_link}",:style=>"color:#{current_group.text_colour};"
  - else
    .inner-button.submit{:style=>"width:178px;height:48px;font-size:1.1em;letter-spacing:-1px;text-align:center;margin:4px 0;line-height:48px;"}
      = link_to "☎ #{location.loc_city}","tel:#{location.loc_phone}",:style=>"color:#{current_group.text_colour};"
    .clear


-content_for :custom_javascript do
  :javascript
    function createMap#{counter}(geo#{counter}) {
      var options#{counter} = {
        center: geo#{counter},
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,
        panControl: false,
        streetViewControl: false,
        mapTypeControl: false
      };
      var canvas#{counter} = document.getElementById('map_canvas#{counter}');
      var map#{counter} =  new google.maps.Map(canvas#{counter},options#{counter});
      map#{counter}.panBy(-100,-100);
      //map#{counter}.panBy(100,100);

      var marker#{counter} = new google.maps.Marker({
        position: geo#{counter},
        map: map#{counter},
        title: "Stuff marker"
      });

      var overlay#{counter} = new google.maps.InfoWindow({
        content: "x"
      });
      //open(map#{counter},marker#{counter});
      return map#{counter};
    }
    function initMap#{counter}() {
      var map#{counter} = null;
      var geo#{counter} = new google.maps.LatLng(#{location.latitude},#{location.longitude});
      var address#{counter} = null;


      map#{counter} = createMap#{counter}(geo#{counter});
    }
    //initMap#{counter}();

-content_for :javascript_init do
  :javascript
    initMap#{counter}();








