- expanded = local_assigns[:expanded]




- count = 0

.container{:style=>"padding:16px 0;width:464px;margin:0;"}
  - @group.locations.each do |location|
    - count = count + 1

    = render :partial => "/locations/location",:locals => {:location => location, :counter=>count, :align => cycle('left','right')}
 
  .clear
- if false
  .container
    %table
      %tr
        %th
          = "Store"
        %th
          = "Address"
        %th
          = "City"
        %th
          = "Phone"

      - @group.locations.each do |location|
        %tr
          %td
            = location.name.to_s
          %td
            = location.loc_address_i.to_s
          %td
            = location.loc_city.to_s
          %td
            = location.loc_phone.to_s




-content_for :custom_javascript do

  %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyAlzkt8p7MDY0igloVFWD1-kQ2wYynxLgs&sensor=false"}
  -#%script{:type => "text/javascript", :src => "/javascripts/modules/google_maps.js"}





 

