-content_for :main do

  #main-index{:style=>"padding:16px;"}
    .container.inset{:style=>"padding:16px; width:448px; margin:0"}

      -#= @geo_location.inspect()
      .container
        %h1
          = "Editing Location"
        .right
          = link_to "Show", location_path(@location), :class => "inner-button", :style=>"height:1.5em;"

      %p
        - form_for @location,:url => location_path(@location),  :html =>{ :method => :put } do |f|
          = f.error_messages
          %p
            = "Name"
            = f.text_field :name, :value => @location.name, :class => "text_field_mobile_edit"
          %p
            .note
              = "Opening Hours"
            = f.text_field :opening_hours, :value => @location.opening_hours, :class => "text_field_mobile_edit"


          %p
            .note
              = "Address"
            = f.text_field :loc_address_i, :value => @location.loc_address_i, :class => "text_field_mobile_edit"
            = f.text_field :loc_address_ii, :value => @location.loc_address_ii, :class => "text_field_mobile_edit"

          %p
            .note
              = "City"
            = f.text_field :loc_city, :value => @location.loc_city, :class => "text_field_mobile_edit"
          %p
            .note
              = "State"
            = f.text_field :loc_state, :value => @location.loc_state, :class => "text_field_mobile_edit"

          %p
            .note
              = "Postcode"
            = f.text_field :loc_postcode, :value => @location.loc_postcode, :class => "text_field_mobile_edit"
          %p
            .note
              = "Region"
            = f.text_field :loc_region, :value => @location.loc_region, :class => "text_field_mobile_edit"


          %hr

          %p
            .note
              = "Phone Number"
            = f.text_field :loc_phone, :value => @location.loc_phone, :class => "text_field_mobile_edit"



          %hr

          %p
            .note
              = "Show second button"
            = f.check_box :show_alt_button, :value => @location.show_alt_button, :class => "text_field_mobile_edit"

          %p
            .note
              = "Second button text"
            = f.text_field :alt_button_text, :value => @location.alt_button_text, :class => "text_field_mobile_edit"
          %p
            .note
              = "Second button link"
            = f.text_field :alt_button_link, :value => @location.alt_button_link, :class => "text_field_mobile_edit"

          %h1
            = "Calculate #{@address}"
          %p
            .note
              -#= "Lat (#{@geo_location.lat.to_s})"
            = f.text_field :latitude, :value => @location.latitude, :class => "text_field_mobile_edit"

          %p
            .note
              -#= "Lng (#{@geo_location.lng.to_s})"
            = f.text_field :longitude, :value => @location.longitude, :class => "text_field_mobile_edit"


          %p
            = f.submit 'Update'

      %p
        = link_to 'Show', location_path
        = link_to 'Back', locations_path
