

-content_for :main do


  .container{:style=>"height:48px;width:464px;padding:16px;"}
    .inset{:style=>"height:48px;line-height:48px;padding:0 16px;margin:0;"}                          
      .subheading.left
        = "Our locations"

  .container{:style=>"width:464px;"}
    - current_group.locations.each do |location|
      .inner-button{:style=>"float:left;margin-bottom:12px;width:344px;", :onclick=>"window.location='#{location_path(location)}'"}
        = link_to "#{location.name}",location_path(location),:class=>"inner-button-link"
      .inner-button.submit{:style=>"float:right;margin-bottom:8px;padding:4px 8px;width:48px;height:48px;text-align:center;"}
        = link_to "☎","tel:#{location.loc_phone}",:class=>"inner-button-link",:style=>"width:28px;text-align:center;"
  .clear
  .spacer
    = "&nbsp;"


  - if logged_in?
    - if current_user.mod_of?(current_group)

      .container

        %h1
          = "Edit locations for"
          = @group.name


        %p
          = link_to 'New location', new_location_path

        %p
          %table
            %tr
              %th
                = "name"
              %th
                = "city"
              %th
                = "actions"
            - @group.locations.each do |location|
              %tr
                %td
                  = location.name.to_s
                %td
                  = location.loc_city.to_s
                %td
                  = link_to 'Show', location_path(location)
                  = link_to 'Edit', edit_location_path(location)
                  = link_to 'Destroy', location_path(location), :confirm => 'Are you sure?', :method => :delete





