-content_for :main do

  #main-index

    %h1
      = "New location"

    %p
      - form_for @location do |f|
        = f.error_messages
        %p
          = f.text_field :name, :value => @location.name
        %p
          = f.text_field :loc_city, :value => @group.group_city
        %p
          = f.submit 'Create'


