

.container
  .footer
    .left{:style=>"width:100%;"}
      .left
        = link_to "MOBILITY", "http://netmobility.com.au", :title => "Mobile Website Solutions", :style=>"color:white;float:left;padding:2px 0;font-size:10px;font-weight:bold;letter-spacing:-1px;"

        - if current_group.client_type == "business+"
          = "<a href='http://netmobility.com.au/mobile-website/products/business-plus' style='text-transform:uppercase;color:#{current_group.secondary};border-radius:2px;padding: 2px 0 ;letter-spacing:-1px;font-size:10px;font-weight:bold;float:left;text-decoration:none' title='Mobile Website Products: Business Plus'>#{current_group.client_type}</a>"

        - else

          = "<a href='http://netmobility.com.au/mobile-website/products/#{current_group.client_type}' style='text-transform:uppercase;color:#{current_group.secondary};border-radius:2px;padding: 2px 0 ;letter-spacing:-1px;font-size:10px;font-weight:bold;float:left;text-decoration:none' title='Mobile Website Products: #{current_group.client_type}'>#{current_group.client_type}</a>"
      .right
        .small{:style=>"color:gainsboro;letter-spacing:-1px;font-size:10px;font-weight:bold;"}
          = AppConfig.version.to_s + " BETA"

    .left{:style=>"width:100%; border-top:1px solid #{current_group.primary};padding:2px 0;letter-spacing:-1px;font-size:10px;font-weight:bold;"}
      -#.left{:style=>"color:#{current_group.tertiary;}"}
        -#= "<span style='padding-left:2px;color:#{current_group.tertiary}'>the mobile website company</span>"

      .right{:style=>"height:28px;"}
        -if !logged_in?
          .entry
            %span{:style=>"font-size:11px;height:28px;line-height:28px;"}
              = link_to "LOGIN", new_user_session_path, :style => "font-weight:bold;color:white;text-decoration:none", :title => "Login to access settings"


      -if logged_in?

        .entry.right
          %span{:style=>"font-size:11px;height:28px;line-height:28px;"}        
            =link_to "LOGOUT", destroy_user_session_path, :style => "font-weight:bold;color:white;text-decoration:none", :title => "Logout", :confirm => 'Are you sure you want to log out..?'

        .entry.right
          - if current_user.display_name?
            - real_name = "#{current_user.display_name}"
          - else
            - real_name = "#{current_user.first_name} #{current_user.last_name}"

          %span{:style=>"font-size:11px;height:28px;line-height:28px;"}    
            = link_to real_name.upcase, "#", :style => "font-weight:bold;color:white;text-decoration:none; margin-right:8px; padding-right:8px;border-right:1px solid white;"



  .clear
.clear
















