
.clear
.divider.inset{:style=>"margin:0 16px;height:4px;width:446px;padding:0 16px;background-color:#{current_group.primary};"}

-if current_user
  -if current_user.owner_of?(current_group)

    .footer-mobile{:style=>"width:480px;padding:16px;margin:0 16px 0 0;font-size:0.8em;border:0;"}
      .footer

        .right
          %button.inner-button{:onclick=>"window.location=\'#{manage_properties_path}\'",:style=>"width:200px;"}
            = "Settings"
        .right
          = render :partial => "shared/quick_create_button"
      .clear



.container{:style=>"background:#{current_group.secondary}; margin:0;padding:0;height:4px;"}
  .inset{:style=>"margin:0 16px;height:4px;width:446px;padding:0 16px;background-color:#{current_group.primary};"}

.fade-out.footer-mobile{:style=>"width:480px;padding:16px;margin:0;font-size:0.8em;border:0"}
  
  .footer
    .left{:style=>"width:50%; font-weight:bold;line-height:48px;letter-spacing:-1px;"}
      = "Every business needs a mobile FAQ : <a href=\"http://mofaq.com/mobile/faq/id/5d04-why-does-my-business-need-a-mobile-faq\">Why?</a>"
    .right
      %button.inner-button{:onclick=>"window.location=\'#{new_group_path}/?mobile=true\'",:style=>"width:200px;"}
        = "Get y<u>our</u> mobile FAQ"
  .clear



















