

.container{:style=>"width:480px;padding:4px 0;margin:0 16px 32px 16px;font-size:0.7em;border:0;"}

  .footer
    .left{:style=>"width:100%;"}
      .left
        = link_to "MOFAQ", "#{current_group.group_type}", :title => "Every business needs a mobile FAQ", :style=>"color:white;float:left;padding:2px 0;font-size:10px;font-weight:bold;letter-spacing:-1px;"


        = "<span style='text-transform:uppercase;color:#{current_group.secondary};border-radius:2px;padding: 2px 0 ;letter-spacing:-1px;font-size:10px;font-weight:bold;float:left;'>#{current_group.client_type}</span>"
      .right
        .small{:style=>"color:gainsboro;letter-spacing:-1px;font-size:10px;font-weight:bold;"}
          = AppConfig.version.to_s + " BETA"

    .left{:style=>"width:100%; border-top:1px solid #{current_group.primary};padding:2px 0;letter-spacing:-1px;font-size:10px;font-weight:bold;"}
      .left{:style=>"color:#{current_group.tertiary;}"}


        = "<span style='padding-left:2px;color:#{current_group.tertiary}'>the mobile website company</span>"
        -#= "<a href='http://mocomm.co' style='border-radius:2px;border:1px solid #{current_group.primary};color:white;padding:0 4px ;letter-spacing:-1px;font-size:10px;font-weight:bold;float:left;' title='moCOMM.CO : the mobile commerce company'><small>M</small>MOCOMM</a> &sdot; the mobile commerce company</br>"

      .right
        .small{:style=>"color:#{current_group.tertiary};letter-spacing:-1px;font-size:10px;font-weight:bold;text-transform:lowercase;"}
          -#= "LONDON &sdot; MELBOURNE &sdot; SYDNEY &sdot; OTTAWA &sdot; viligili"


    .right{:style=>"display:none"}
      = "<a style='border-radius:2px;background-color: #{current_group.secondary};color:white;padding:0 4px;letter-spacing:-1px;font-size:10px;font-weight:normal;'>BETA</a>"



  .clear
.clear
















