
= "<meta name=\"geo.position\" content=\"#{current_group.group_latitude},#{current_group.group_longitude}\">"
= "<meta name=\"geo.placename\" content=\"\">" 
= "<meta name=\"geo.region\" content=\"\">"
