
= "<meta name=\"geo.position\" content=\"#{current_group.group_latitude},#{current_group.group_longitude}\" />"
= "<meta name=\"geo.placename\" content=\"#{current_group.town}\" />" 
= "<meta name=\"geo.region\" content=\"#{current_group.region}\" />"
